
<% form_tag session_path do -%>
<fieldset name="user_login">
	<legend>Log In</legend>
	<p><%= label_tag 'login' %><br />
	<%= text_field_tag 'login', @login, {:class => 'text'} %></p>

	<p><%= label_tag 'password' %><br />
	<%= password_field_tag 'password', nil, {:class => 'text'} %></p>

	<!-- Uncomment this if you want this functionality -->
	<p><%= check_box_tag 'remember_me', '1', @remember_me %><%= label_tag 'remember_me', 'Remember me' %></p>

	<p><%= submit_tag 'Log in' %></p>
</fieldset>
<% end -%>
