<div class="show">
	<div class="grid_9 alpha">
		<h2><%= @category.name %></h2>

		<div class="stats">
			<strong>Created:</strong> <%= @category.created_at.strftime(Dates::DATE_TIME) %><br/>
			<strong>Updated:</strong> <%= @category.updated_at.strftime(Dates::DATE_TIME) %>
		</div>
		
		<h3>Custom Fields</h3>
		<p><em>These fields will be available to new projects that belong to this category.</em></p>
		<ul class="custom_fields">
		<% if @custom_fields %>
			<% @custom_fields.each do |field| %>
			<li><%= field %></li>
			<% end %>
		<% else %>
			<li><em>None</em></li>
		<% end %>
		</ul>

		<h3>Description</h3>
		<p>
			<%= @category.description if @category.description %>
		</p>
	</div>

	<div class="grid_3 omega" id="sidebar">
		<h3>Options</h3>
		<ul class="subnav">
			<li><a href="#" id="edit_link">Edit</a></li>
			<li><%= link_to "Add a Project", {:controller => 'projects', :action => 'new'} %></li>
		</ul>
		
		<h3>Projects</h3>

		<% if @projects %>
		<ul>
			<% @projects.each do |project| %>
			<li><%= link_to project.name, {:controller => 'admin', :action => 'project', :id => project.id}%></li>
			<% end %>
		</ul>
		<% else %>
		<em>None</em>
		<% end %>
	</div>
</div>

<div class="edit">
	<div class="grid_9 alpha">
		<h2>Edit <%= @category.name %></h2>
		<% form_for :category, :url => {:controller => 'categories', :action => 'update', :id => @category.id} do |f| -%>
			<p>
				<%= f.error_messages %>
			</p>
	
			<p>
				<%= label :category, :name %><br/>
				<%= f.text_field :name %>
			</p>
	
			<div class="custom_fields">
				<h3>Custom Fields</h3>
				<!-- add a link to add more custom fields via some jQuery voodoo -->
				<p>
					<em>These fields will be available to new projects that belong to this category.</em>
				</p>
				<a href="#" id="add_custom_field"><img src="/images/icons/add.gif" alt="add custom field" width="16" height="16"/> Add a Custom Field</a>
				<% if @custom_fields -%>
					<p>
						<% @custom_fields.each do |field| -%>
							<!-- Generate an input field for each custom field in the collection so that they'll be a single array of hashes when submitted -->
							<p>
								<label>Custom Field</label><br/>
								<input type="text" name="category[custom_fields][]" class="category_custom_field" value="<%= field %>"/>
								<a href="#" onclick="$(this).parent().remove(); return false;" class="remove"><img src="/images/icons/subtract.gif" width="16" height="16" alt="remove field"/></a>
							</p>
						<% end -%>
					</p>
				<% end -%>
			</div>
	
			<p>
				<%= label :category, :description %><br/>
				<%= text_area :category, :description, {:rows => 5, :cols => 50} %>
			</p>
			<%= submit_tag "Update" %>
		<% end -%>
	</div>
	
	<div class="grid_3 omega" id="sidebar">
		<h3>Options</h3>
		<ul class="subnav">
			<li><a href="#" id="show_link">Show (cancel changes)</a></li>
			<li><%= link_to "Add a Project", {:controller => 'projects', :action => 'new'} %></li>
		</ul>
		
		<h3>Projects</h3>

		<% if @projects %>
		<ul>
			<% @projects.each do |project| %>
			<li><%= link_to project.name, {:controller => 'admin', :action => 'project', :id => project.id}%></li>
			<% end %>
		</ul>
		<% else %>
		<em>None</em>
		<% end %>
	</div>
</div>

