<h2>Categories</h2>

<table>
	<tr>
		<th>Name</th>
		<th>Custom Fields</th>
		<th>Projects</th>
		<th>Last Updated</th>
	</tr>
	
	<% @categories.each do |cat| %>
	<tr>
		<td><%= link_to cat.name, { :controller => 'admin', :action => 'category', :id => cat.id } %></td>
		<td>
			<% if cat.custom_fields %>
			<ul>
				<% cat.custom_fields.each do |field| %>
				<li><%= field[:name] %> <em>(<%= field[:type] %>)</em></li>
				<% end %>
			</ul>
			<% else %>
			<em>None</em>
			<% end %>
		</td>
		<td><%= @projects_by_category[cat.id].nitems %></td>
		<td><%= cat.updated_at.strftime(Dates::SHORT_DATE)%>
	</tr>
	<% end %>
</table>
