<h2>Editing <%= @project.name %></h2>

<%= error_messages_for 'project' %>

<% form_for :project, @project, :url => { :action => 'update', :id => @project.id } do |f| %>
	<p>
		<label for="project[name]">Name</label><br />
		<%= f.text_field :name %>
	</p>
	
	<p>
		<label for="project[tags]">Tags (separate multiple tags with commas)</label><br />
		<%= f.text_field :tags %>
	</p>
	
	<p>
		<label for="project[category_id]">Category</label><br />
		<%= collection_select(:project, :category_id, @categories, :id, :name, { :prompt => true }) %>
		<!-- TODO: Add a link & some AJAX to quick-create a new category or client. -->
	</p>
	
	<p>
		<label for="project[client_id]">Client</label><br />
		<%= collection_select(:project, :client_id, @clients, :id, :name, { :prompt => true })%>
	</p>
	
	<p>
		<label for="project[url]">URL</label><br />
		<%= f.text_field :url %>
	</p>
	
	<p>
		<label for="project[in_rotation]">Rotate on Front Page?</label> <%= f.check_box :in_rotation %>
	</p>
	
	<p>
		<label for="project[description]">Description</label><br />
		<%= f.text_area :description %>
	</p>
	<%= f.submit "Save" %>
	
<% end %>