<h2>Projects in <%= @category.name %></h2>

<table>
	<tr>
		<th>Project</th>
		<th>Created</th>
		<th>Modified</th>
		<th colspan="2">Options</th>
	</tr>
<% @projects.each do |p| %>
	<tr>
		<td><%= link_to p.name, { :controller => 'admin/projects', :action => 'show', :id => p.id } %></td>
		<td><%= p.created_at.to_date %></td>
		<% unless p.created_at.to_date == p.updated_at.to_date %>
		<td><%= p.updated_at %></td>
		<% end %>
		<td><%= link_to "Edit", { :controller => 'admin/projects', :action => 'edit', :id => p.id } %></td>
		<td><%= link_to "Delete", { :controller => 'admin/projects', :action => 'destroy', :id => p.id }, :confirm => "Are you sure?", :method => :delete %></td>
	</tr>
<% end %>
	<tr>
		<td colspan="5" align="right"><%= link_to "New", { :controller => 'admin/projects', :action => 'new' } %></td>
</table>