<h2>Upload an Image</h2>

<% form_for @image, :html => {:multipart => true} do |f| %>
	<p>
		<%= label :image, :name %><br/>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= label :image, :caption %><br/>
		<%= f.text_field :caption %>
	</p>
	
	<p>
		<%= label :image, :image_file_data, "Upload Image" %><br/>
		<%= f.file_field :image_file_data %>
	</p>
	
	<% unless @project %>
		<p>
			<label for="image_project_id">Project</label><br/>
			<%= select 'image', 'project_id', @projects.collect {|p| [p.name, p.id] }, {:include_blank => true} %>
		</p>
	<% else %>
		<input type="hidden" id="image_project_id" name="image[project_id]" value="<%= @project.id %>" />
	<% end %>
	
	<p>
		<%= f.submit "Upload" %>
	</p>
<% end %>