<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Folio :: <%= controller.action_name %></title>
	<!-- TODO: Figure out which libraries/plugins are needed for each controller action and only include necessary ones. -->
	<%= javascript_include_tag :defaults %> 
	<%= javascript_include_tag 'jquery', 'jquery.interface.js' %>
	<%=# stylesheet_link_tag "admin", :media => "screen, projection" %>
	<%= blueprint_css_tags %>
	
	<!-- Unobtrusive Javascript Partials, only pull in what you need -->
	<% if controller.action_name == "new" || controller.action_name == "edit" %>
		<%= javascript_include_tag 'admin/jq_forms' %> <!-- jQuery UJS script for actions that use forms -->
	<% end %>
	<% if controller.action_name == "show" || controller.action_name == "index" %>
		<%= javascript_include_tag 'admin/jq_listings' %> <!-- Stuff to sexy-up listings -->
	<% end %>
</head>

<body>
	<div class="container showgrid">
		<div class="span-16 push-7" id="header">
			<h1>PORT<em>FOLIO</em> MANAGER</h1>
		<!--	
		<span class="tagline">simple portfolio manager</span> 
		-->
			<ul id="nav">
				<li><%= link_to_unless_current 'Categories', { :controller => 'admin/categories', :action => 'index' } %></li>
				<li><%= link_to_unless_current 'Clients', { :controller => 'admin/clients', :action => 'index' } %></li>
				<li><%= link_to_unless_current 'Projects', { :controller => 'admin/projects', :action => 'index' } %></li>
			</ul>
		</div>
	
		<div id="content">
			<p class="flash"><%= flash[:notice] %></p>
		
			<%= yield %> <!-- controller action gets rendered here -->
		
		</div>
	
		<div id="footer">
			<p>Developed by Mike Green for <a href="http://www.fifthroomcreative.com">Fifth Room Creative</a></p>
			<p id="license"><em>This is free software, released under the MIT License</em></p>
		</div>
	</div>
</body>
</html>
